.names{
    line-height: 1;
    display: inline-grid;
    box-sizing: unset;
}

.others{
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
}

.description{
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
    margin-top: -5px;
    margin-bottom: 10px;
}

.repository-details{
    margin-left: 20px;
}