<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div *ngIf="repository" class="repository-details">
    <h3 class="names">
      <span *ngIf="repository.description" class="description">Descrição: {{repository.description}}</span>
      <span class="description">
        Estrelas: {{repository.stargazers_count}}
        <i class="fa fa-star" aria-hidden="true"></i>
      </span>
      <span *ngIf="repository.language" class="description">Linguagem: {{repository.language}}</span>
      <a class="others d-block text-primary" href="{{repository.html_url}}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i> Clique para abrir no GitHub</a>
    </h3>
</div>