<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px'}"></ngx-loading>
<div class="col-12">
<a [routerLink]="['/user', username]"><i class="fa fa-times" aria-hidden="true"></i> Fechar</a>
<table class="table">
  <thead>
    <tr>
      <th (click)="sort('full_name');">
        Nome do repositório
        <span [ngClass]="{'fa fa-chevron-up':reverse, 'fa fa-chevron-down':!reverse}"></span></th>
      <th class="w50">Estrelas 
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
      </th>
      <th class="w50"></th>
    </tr>
  </thead>
  <tbody *ngFor="let repository of repositories">
    <tr>
      <td>{{repository.name}}</td>
      <td>{{repository.stargazers_count}}</td>
      <td>
        <a *ngIf="nameClicked != repository.name" (click)=" nameClicked = repository.name" [routerLink]="[repository.name]" class="btn btn-outline-primary">
          <i class="fa fa-eye" aria-hidden="true"></i>
        </a>
        <a *ngIf="nameClicked == repository.name" (click)=" nameClicked = undefined" [routerLink]="['/user', username, 'repos']" class="btn btn-outline-primary">
          <i class="fa fa-eye-slash" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
    <tr *ngIf="(nameClicked == repository.name)">
      <router-outlet></router-outlet>
    </tr>
  </tbody>
</table>
<nav class="float-right">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" (click)="previousPage()" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link">{{page}}</a></li>
    <li class="page-item">
      <a class="page-link" (click)="nextPage()" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

</div>
